.loader {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  position: absolute;
  right: 7rem;
}

.loader:after {
  content: " ";
  display: block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 0.5rem solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.loader_big {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 10rem;
  height: 10rem;
}

.loader_big:after{
  width: 10rem;
  height: 10rem;
  border: 1.5rem solid #337ab7;
  border-color: #337ab7 transparent #337ab7 transparent;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}