.loader {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  position: absolute;
  right: 7rem;
}
.loader:after {
  content: " ";
  display: block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 0.5rem solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}