.modal__container {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  display: block;
}

.modal_content {
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 70%;
  max-width: 1280px;
  height: fit-content;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}

.header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.modal__main {
  display: flex;
  flex-direction: column;
}

.modal__main label {
  align-self: start;
  margin: 15px 0 5px 5px;
}

