.post__iframe{
  width: 100%;
  border: none;
  height: 60vh;
  margin-bottom: 20px;
  background-color: white;
}

.deleteBtn {
  background: none;
  border: none;
  color: rgba(51, 122, 183, 0.73);
  margin-right: 15px;
  background-color: #99a1b317;
  padding: 0 3px;
}

@media screen and (max-width: 580px) {
  .post_mainInfo {
    display: flex;
    flex-direction: column-reverse;
  }
}