.post__iframe{
  width: 100%;
  border: none;
  height: 60vh;
  margin-bottom: 20px;
  background-color: white;
}

@media screen and (max-width: 580px) {
  .post_mainInfo {
    display: flex;
    flex-direction: column-reverse;
  }
}